<template>
  <div class="users-wrapper">
    <div class="users">
      <v-container>

        <v-btn block large color="teal"
            id="create"
            @click="createUser"
            class="users__create-btn"
        >
          Create
        </v-btn>
      <v-data-iterator
          :items="users"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          hide-default-footer
      >
        <template v-slot:default="props">
          <v-row>
            <v-col :key="user.id"
              v-for="user in props.items"
            >
            <User

                v-bind="user"
                @update-user="startEditUser(user)"
            />
            </v-col>

          </v-row>
        </template>
        <template v-slot:footer>
          <v-row class="mt-5" align="center" justify="center">
            <span class="mr-4 grey--text">
              Page {{ page }} of {{ numberOfPages }}
            </span>
            <v-btn

                dark
                small
                color="teal darken-3"
                class="mr-1"
                @click="formerPage"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
                dark
                small
                color="teal darken-3"
                class="ml-1"
                @click="nextPage"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-row>
        </template>
      </v-data-iterator>
      </v-container>
    </div>

    <UserFormModal ref="userFormModal"/>
  </div>
</template>

<script>
  import User from '@/components/User'
  // import UserForm from '@/components/UserForm'
  import UserFormModal from '@/components/UserFormModal'
  import {mapState} from 'vuex'

  export default {
    name: 'Users',
    data() {
      return {
        itemsPerPageArray: [4, 8, 12],
        filter: {},
        page: 1,
        itemsPerPage: 10,
      }
    },
    computed: {
      ...mapState(['users']),
      numberOfPages () {
        return Math.ceil(this.users.length / this.itemsPerPage)
      },
    },
    methods: {
      startEditUser(user) {
        this.$refs['userFormModal'].startEdit({...user})
      },
      createUser() {
        this.$refs['userFormModal'].startCreate()
      },
      nextPage () {
        if (this.page + 1 <= this.numberOfPages) this.page += 1
      },
      formerPage () {
        if (this.page - 1 >= 1) this.page -= 1
      },
    },
    components: {
      User,
      UserFormModal
    }
  }
</script>

<style lang="scss">
  .users {
    width: 100%;
    position: relative;
    padding: 40px 0;

    .container {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
    }

    &__create-btn {
      min-width: 150px;
      height: 45px;
      margin: 0 0 30px;
    }

    .col {
      min-width: 280px;
    }
  }
</style>
