<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <v-card dark v-if="dialog">
    <v-form v-model="valid" @submit.prevent ref="userForm">
      <v-container>
        <v-col>
          <v-text-field
              v-model="users.name"
              :rules="nameRules"
              :counter="10"
              label="Name"
              required
          ></v-text-field>
        </v-col>

        <v-col>
          <v-text-field
              v-model="users.surname"
              :rules="surnameRules"
              :counter="20"
              label="Surname"
              required
          ></v-text-field>
        </v-col>

        <v-col>
          <v-text-field
              v-model="users.birthday"
              label="Birthday"
          ></v-text-field>
        </v-col>

        <v-col>
          <v-text-field
              v-model="users.phone"
              label="Phone"
          ></v-text-field>
        </v-col>

        <v-col>
          <v-text-field
              v-model="users.email"
              :rules="emailRules"
              label="Email"
              required
          ></v-text-field>
        </v-col>

        <v-btn   @click="resetForm">Close</v-btn>
        <v-btn v-if="isCreateForm" color="success" class="ml-2" @click="createUser">Create</v-btn>

        <template v-else>
          <v-btn  class="ml-2" type="submit" @click="updateUser">Update</v-btn>
        </template>
      </v-container>

    </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapGetters } from 'vuex'

  const defaultUser = () => ({
    name: '',
    surname: '',
    birthday: '',
    phone: '',
    email: '',
    id: '',
  })

  export default {
    name: 'UserFormModal',
    data() {
      return {
        users: defaultUser(),
        dialog: false,
        valid: false,
        nameRules: [
          v => !!v || 'Name is required',
          v => v.length <= 10 || 'Name must be less than 10 characters'
        ],
        surnameRules: [
          v => !!v || 'Surename is required',
          v => v.length <= 20 || 'Surname must be less than 20 characters'
        ],
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid',
        ]
      }
    },
    watch: {
    },
    computed: {
      isCreateForm() {
        return !this.users.id
      },
    },
    methods: {
      resetForm () {
        this.$refs.userForm.reset()
        this.users = defaultUser()

        this.dialog = false
      },
      createUser() {
        this.$store.dispatch('addUser', {...this.users})
        this.resetForm()
      },
      startEdit (user) {
        this.users = user
        this.dialog = true
      },
      startCreate () {
        this.users = defaultUser()
        this.dialog = true
      },
      updateUser() {
        this.$store.dispatch('updateUser', {...this.users})
        this.resetForm()
      }
    }
  }
</script>

<style lang="scss">
</style>