<template>
  <div class="userFrom__wrapper">
    <div class="userFrom__inner">
      <v-form v-model="valid" @submit.prevent>
        <v-container>
            <v-col>
              <v-text-field
                v-model="users.name"
                :rules="nameRules"
                :counter="10"
                label="Name"
                required
              ></v-text-field>
            </v-col>

          <v-col>
            <v-text-field
                v-model="users.surname"
                :rules="surnameRules"
                :counter="20"
                label="Surname"
                required
            ></v-text-field>
          </v-col>

          <v-col>
            <v-text-field
                v-model="users.birthday"
                label="Birthday"
            ></v-text-field>
          </v-col>

          <v-col>
            <v-text-field
                v-model="users.phone"
                label="Phone"
            ></v-text-field>
          </v-col>

          <v-col>
            <v-text-field
                v-model="users.email"
                :rules="emailRules"
                label="Email"
                required
            ></v-text-field>
          </v-col>
        </v-container>

        <button v-if="isCreateForm" type="submit" @click="createUser">Create</button>

        <template v-else>
          <button type="submit" @click="updateUser">Update</button>
          <button  type="submit" @click="resetForm">Close</button>
        </template>
      </v-form>
    </div>
  </div>

</template>

<script>
import { mapActions } from 'vuex'

const defaultUser = () => ({
  name: '',
  surname: '',
  birthday: '',
  phone: '',
  email: '',
  id: '',
})

export default {
  data() {
    return {
      users: defaultUser(),
      valid: false,
      nameRules: [
          v => !!v || 'Name is required',
          v => v.length <= 2 || 'Name must be less than 10 characters'
      ],
      surnameRules: [
          v => !!v || 'Surename is required',
          v => v.length <= 5 || 'Surname must be less than 20 characters'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ]
    }
  },
  computed: {
    isCreateForm() {
      return !this.users.id
    },
  },
  methods: {
    resetForm () {
      this.users = defaultUser()
    },
    createUser() {
      this.$store.dispatch('addUser', {...this.users})
    },
    startEdit (user) {
      this.resetForm()
      this.users = user
    },
    updateUser() {
      this.$store.dispatch('updateUser', {...this.users})
    },
  }
}
</script>

<style lang="scss">
  .userFrom {
    &__wrapper {
      //position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      //background: rgba(0,0,0, .4);
    }

    &__inner {
      //position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 400px;
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;

    input {
      width: 100%;
      margin-bottom: 15px;
      font-size: 18px;
    }
  }


</style>