<template>
  <div class="user">
    <div class="user__data-wrapper">
      <div class="user__row user__name">
        Name: <span>{{ name }}</span>
      </div>
      <div class="user__row user__surname">
        Surname: <span>{{ surname }}</span>
      </div>
      <div class="user__row user__birthday">
        Birthday: <span>{{ birthday }}</span>
      </div>
      <div class="user__row user__phone">
        Phone: <span>{{ phone }}</span>
      </div>
      <div class="user__row user__email">
        Email: <span>{{ email }}</span>
      </div>
    </div>
    <div class="user__navigation">
      <v-btn text small color="accent" id="update" @click="updateUser">Update</v-btn>
      <v-btn text small color="accent" id="delete" @click="deleteUser">Delete</v-btn>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'User',
    props: {
      name: {
        type: String,
        required: true
      },
      surname: {
        type: String,
        required: true
      },
      birthday: {
        type: String,
        required: true
      },
      phone: {
        type: String,
        required: true
      },
      id: {
        type: Number,
        required: true
      },
      email: {
        type: String,
        required: true
      }
    },
    methods: {
      updateUser () {
        this.$emit('update-user')
      },
      deleteUser ( ) {
          this.$store.dispatch('deleteById', this.id)
      }

    }
  }
</script>

<style lang="scss">
  .user {
    height: 100%;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background: #2d4e4d;
    color: white;

    &__data-wrapper {
      margin-bottom: 10px;
      padding: 10px;
    }

    &:nth-child(5n + 5) {
      margin-right: 0;
    }

    &__row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
      font-weight: 500;

      span {
        margin-left: 10px;
        font-family: 'Share Tech Mono', monospace;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      }
    }

    &__navigation {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>