<template>
  <v-app>
    <v-main>
      <Users />
    </v-main>
  </v-app>
</template>

<script>
import Users from '@/views/Users'

export default {
  name: 'App',

  components: {
    Users,
  },

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

  @import '~@/assets/scss/vars';


  * {
    box-sizing: border-box;
  }

  body {
    font-weight: 400;
  }

  .v-main {
    &__wrap {
      background: #1F292E;
    }
  }

</style>
